/* html, body {
  height: 100%;
}

html {
  
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
} */

body {
  background-image: url(images/hands-background.png);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
#introDiv {
  border: 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

  h1 {
    color: white;
  }

img #rock-pic, #paper-pic, #scissors-pic {
    transition: transform .5s ease-in-out;
    width: 100px;
    padding: 15px;
  }
  img #rock-pic, #paper-pic, #scissors-pic:hover {
    transform: rotate(5deg);
  }

  p {
    font-size: large;
  }

  span {
    font-size: larger;
  }
