
@font-face {
  font-family: 'Porter Sans Block';
  src: url(fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format(woff),
       url(fonts/porter_sans_block/porter-sans-inline-block-webfont.ttf) format(truetype);
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #EFE9DB;
}

body, html {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: 'Porter Sans Block', monospace;
  font-size: 2.5em;
  margin: 0;
  padding-top: 10px;
}

span, h2 {
  color: #EFE9DB;
}

button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  background-color: #EFE9DB;
}

#introDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Button mechanics */
#startButton, #nextRoundButton {
  background: none;
  border-radius: 6px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  position: relative;
}

#nextRoundButton {
  margin : 20px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: hsl(0deg 0% 0% / 0.25);
  transform: translateY(2px);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: hsl(8, 99%, 35%);
}

#front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 6px;
  font-size: 1.25rem;
  color: white;
  background: hsl(8, 99%, 65%);
  transform: translateY(-4px);
}
#startButton:hover #front, #nextRoundButton:hover #front {
  transform: translateY(-6px);
}
#startButton:hover .shadow, #nextRoundButton:hover .shadow {
  transform: translateY(4px);
}
#startButton:active #front, #nextRoundButton:active #front {
  transform: translateY(-2px);
}
#startButton:active .shadow, #nextRoundButton:active #front {
  transform: translateY(1px);
}

#startButton:focus:not(:focus-visible), #nextRoundButton:focus:not(:focus-visible) {
  outline: none;
}

hr {
  width: 90%;
  color: black;
  border: black 0.2px solid;
  }

#blackDiv {
  background-color: black;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#blackDiv #storyText, #blackDiv #startButton {
  color: white;
}

#blackDiv #storyText {
  padding: 30px 250px;
}

#footerText {
  padding: 10px;
}

#imageDiv {
  display: flex;
  align-items: flex-end;
}

#rock-pic, #paper-pic, #scissors-pic {
  transition: transform .5s ease-in-out;
  width: 130px;
  padding: 25px;
  border-radius: 18%;
}
#rock-pic:hover,  #paper-pic:hover, #scissors-pic:hover {
  transform: rotate(5deg);
}

#playerChoiceDiv, #computerChoiceDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playerSelectionImage, #computerSelectionImage {
  width: 130px;
  padding: 25px;
  border-radius: 18%;
}

#footerText {
  color: black;
}

#resultsText {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 12px;
}

#choiceText {
  margin-bottom: 20px;
}
